<strong>Recovering password</strong>
<p>We noticed a password recovery attempt coming from this email({{email}}), if you didn't do it, it is suggested to change the password</p>
<p>To continue with the password recovery, use the token {{token}}</p>